/* #region Global  */

/* scrollbar */
body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: var(--clr-black);
}

body::-webkit-scrollbar-thumb {
    background: var(--clr-gradient1);
    border-radius: 5px;
    border: 2px solid var(--clr-gradient2);
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'text';
    src: url(../font/comfortaaBoldTitle.ttf);
}

/* basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '';
    list-style: none;
    text-decoration: none;
    color: var(--clr-black);
    font-family: 'text';
}



/* Pallet colors */
:root {
    --clr-base: #333333;
    --clr-black: #000000;
    --clr-title: #6c0086;
    --clr-base-bg: #1d1d1d;
    --clr-accent: #d406a8;
    --clr-white: #ffffff;
    --clr-subtitle: #FF13F0;
    --clr-hover: #88009460;
    --clr-shadow: #b1b1b170;
    --clr-gradient1: linear-gradient(45deg, #6c0086 10%, #FF13F0 90%);
    --clr-gradient2: linear-gradient(45deg, #FF13F0 10%, #6c0086 90%);
    --no-color: transparent;
}

/*sizes*/
:root {
    --txt-title1: 1.75rem;
    --txt-subtitle1: .75rem;
    --txt-paragraph1: .80rem;
    --txt-anchor1: .4rem;
    --txt-icon1: 1.5rem;
    --txt-superhero1: 2.5rem;
}


html {
    background: '';
    color: var(--clr-white);
    text-align: center;
    scroll-behavior: smooth;
}

/* Rule for title */
h1 {
    color: var(--clr-title);
    font-size: var(--txt-title);
}

p {
    color: var(--clr-white);
    font-size: var(--txt-paragraph);
}

h1>span,
h2>span,
h4>span {
    color: var(--clr-accent);
}

i {
    color: var(--clr-subtitle);
}

/* #endregion */


/* #region media nav - banner*/


@media (max-width: 768px) {
    #menu2 {
        display: none;
    }

    img.logo {
        width: auto;
    }


    .banner {
        padding: 30px;
    }

    h1 {
        transition: all 0.3s;
        font-size: var(--txt-title1);
    }

    p {
        transition: all 0.3s;
        font-size: var(--txt-paragraph1);
        margin: 5px;
        padding: 0 2em;
    }

}

@media (min-width: 769px) {
    #menuContainer {
        display: none;
    }

    .banner {
        padding: 20px;
    }

}




/* #endregion */



/*#region portifólio */

@media (max-width: 768px) {
    .carousel {
      height: 220px;
    }
  
    .card {
      width: 200px;
      height: 360px;
    }
  }
  
  @media (max-width: 375px) {
    .carousel {
      height: 200px;
    }
  
    .card {
      width: 200px;
      height: 270px;
    }
  
    .card p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 320px) {
    .carousel {
      height: 120px;
    }
  
    .card {
      width: 150px;
      height: 230px;
    }
  
    .card p {
      font-size: 10px;
    }
  }




/*#endregion*/







/*#region Fale Conosco*/
@media (max-width: 1080px) {
    #faleConosco {
        height: auto;
        padding: 20px;
        background-position: top;


        .containerFaleConosco {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .formWrapper {
            max-width: 100%;
        }

        .right {
            text-align: center;
            max-width: 100%;
            display: flex;
            align-items: center;
        }

        .right iframe {
            max-width: 100%;
            height: 200px;
        }
    }

    footer {
        height: auto;
        padding: 30px;
        text-align: center;

        .footerContainer {
            flex-direction: column;
            gap: 15px;
        }

        .line {
            width: 80%;
        }
    }
}

@media (max-width: 1024px) {
    #faleConosco {
        height: auto;
        padding: 20px;

        .containerFaleConosco {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .formWrapper,
        .right {
            max-width: 100%;
            text-align: center !important;

            .telefones {
                text-align: center !important;
                display: block !important;
            }
        }

        iframe {
            max-width: 100%;
        }
    }

    footer {
        height: auto;
        padding: 30px 10px;
        text-align: center;

        .footerContainer {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .line {
            width: 80%;
        }
    }
}

@media (max-width: 468px) {
    #faleConosco {
        height: auto;
        padding: 15px;

        .contatoTitle {
            h1 {
                font-size: 22px;
            }

            p {
                font-size: 16px;
            }
        }

        .containerFaleConosco {
            flex-direction: column;

            align-items: center;
            gap: 10px;
        }

        .formWrapper {
            max-width: 70% !important;


            input,
            textarea {
                font-size: 14px;
                padding: 10px;
            }

            .btnEnviar {
                width: 120px;
            }
        }

        .right {
            max-width: 100%;
            text-align: center !important;

            .telefones {
                text-align: center !important;
                display: block !important;
            }

            h6 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }

            iframe {
                width: 100%;
                height: 200px;
            }
        }
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }
}

/*#endregion*/






/*endCss*/