/* #region Global  */

/*sizes*/
:root {
    --txt-title1: 1.75rem;
    --txt-subtitle1: .75rem;
    --txt-paragraph1: .80rem;
    --txt-anchor1: .4rem;
    --txt-icon1: 1.5rem;
    --txt-superhero1: 2.5rem;
}

/* Rule for title */
h1 {
    font-size: var(--txt-title);
}

p {
    font-size: var(--txt-paragraph);
}

/* #endregion */


/* #region media nav - banner*/

@media (max-width: 768px) {
    #menu2 {
        display: none;
    }

    .banner {
        padding: 30px;
    }

    h1 {
        transition: all 0.3s;
        font-size: var(--txt-title1);
    }

    p {
        transition: all 0.3s;
        font-size: var(--txt-paragraph1);
        margin: 5px;
        padding: 0 2em;
    }

    .logoSandwich {
        width: 200px !important;
    }
}

@media (min-width: 769px) {
    #menuContainer {
        display: none;
    }

    .banner {
        padding: 20px;
    }

    .logoSandwich {
        width: 30px !important;
    }

}

/* #endregion */

/* #region Servicos*/
@media (max-width: 768px) {
    .meladoimagem {
        width: 80%;
    }
}

/* #endregion */

/*#region portifólio */

@media (max-width: 768px) {
    .carousel {
        overflow: hidden;
        /* Impede que os cards saiam da tela */
        width: 100%;
        padding: 10px;
    }

    .card {
        position: absolute;
        width: 220px;
        /* Ajuste o tamanho para mobile */
        height: 320px;
    }

    .card.prev-left,
    .card.next-right {
        display: none;
        /* Remove os cards muito afastados */
    }

    .card.left {
        transform: translateX(-50%) scale(0.85);
        opacity: 0.5;
        z-index: 1;
    }

    .card.right {
        transform: translateX(50%) scale(0.85);
        opacity: 0.5;
        z-index: 1;
    }

    .card.active {
        transform: translateX(0) scale(1.1);
        opacity: 1;
        z-index: 2;
    }
}

@media (max-width: 1024px) {
    .carousel {
        overflow: hidden;
        /* Impede que os cards saiam da tela */
        margin: 2em auto;
        /* Centraliza o carrossel */
        padding: 10px;
        width: 100%;
    }

    .card {
        width: 250px;
        /* Reduz o tamanho dos cards */
        height: 350px;
    }

    /* Ajuste dos cards laterais para que fiquem parcialmente visíveis */
    .card.left {
        transform: translateX(-75%) scale(0.9);
        opacity: 0.6;
        z-index: 1;
    }

    .card.right {
        transform: translateX(75%) scale(0.9);
        opacity: 0.6;
        z-index: 1;
    }

    .card.prev-left,
    .card.next-right {
        display: none;
        /* Oculta os cards mais distantes */
    }

    .card.active {
        transform: translateX(0) scale(1.2);
        opacity: 1;
        z-index: 2
    }
}



/*#endregion*/

/*#region Fale Conosco*/
@media (max-width: 1080px) {
    #faleConosco {
        height: auto;
        padding: 20px;
        background-position: top;


        .containerFaleConosco {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .formWrapper {
            max-width: 100%;
        }

        .right {
            text-align: center;
            max-width: 100%;
            display: flex;
            align-items: center;
        }

        .right iframe {
            max-width: 100%;
            height: 200px;
        }
    }

    footer {
        height: auto;
        padding: 30px;
        text-align: center;

        .footerContainer {
            flex-direction: column;
            gap: 15px;
        }

        .line {
            width: 80%;
        }
    }
}

@media (max-width: 1024px) {
    #faleConosco {
        height: auto;
        padding: 20px;

        .containerFaleConosco {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .formWrapper,
        .right {
            max-width: 100%;
            text-align: center !important;

            .telefones {
                text-align: center !important;
                display: block !important;
            }
        }

        iframe {
            max-width: 100%;
        }
    }

    footer {
        height: auto;
        padding: 30px 10px;
        text-align: center;

        .footerContainer {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .line {
            width: 80%;
        }
    }
}

@media (max-width: 468px) {
    #faleConosco {
        height: auto;
        padding: 15px;

        .contatoTitle {
            h1 {
                font-size: 22px;
            }

            p {
                font-size: 16px;
            }
        }

        .containerFaleConosco {
            flex-direction: column;

            align-items: center;
            gap: 10px;
        }

        .formWrapper {
            max-width: 70% !important;


            input,
            textarea {
                font-size: 14px;
                padding: 10px;
            }

            .btnEnviar {
                width: 120px;
            }
        }

        .right {
            max-width: 100%;
            text-align: center !important;

            .telefones {
                text-align: center !important;
                display: block !important;
            }

            h6 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }

            iframe {
                width: 100%;
                height: 200px;
            }
        }
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }
}

/*#endregion*/

/*endCss*/